PORT=3000
DB_FILE=/data/sainik.db

ADMIN_USER=bbjbjkbkb
ADMIN_PASSWORD=jddbkjk
JWT_SECRET=jhhkjkhhj

UPI_ID=8765196654@upi
UPI_NAME=Sainik Library

PAYMENT_AMOUNT=500
DAILY_AMOUNT=50
MONTHLY_AMOUNT=500
QUARTERLY_AMOUNT=1500
