PORT=3000
DB_FILE=/data/sainik.db

ADMIN_USER=Sainik
ADMIN_PASSWORD=Gopal908188@
JWT_SECRET=JMT_SECRET_library_9xK7mP2qL8vR4tY6

UPI_ID=8765196654@upi
UPI_NAME=Sainik Library

PAYMENT_AMOUNT=500
DAILY_AMOUNT=50
MONTHLY_AMOUNT=500
QUARTERLY_AMOUNT=1500
